<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Count Word!</title>
</head>
<body>
	<a href="{% url 'home' %}">
		<button>
			Back to Home
		</button>
	</a>
    <h1>Hi There are {{ count }} word in your text</h1>

	<h1>Your Text:</h1>
	{{ fulltext }}

	<h1>Word Count:</h1>
	{% for word, count in sorteWord %}
		{{ word }} - {{ count }}
		<br>
	{% endfor %}

    
</body>
</html>